@charset "UTF-8";

html {
	
  	line-height: 1.6rem;
}

a {
  text-decoration: none !important;
}

.text--title {
  font-size: 4.8rem;
  font-weight: 700;
}
.text--description {
  font-size: 1.6rem;
  font-weight: 300;
}
.text--h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
}
.text--h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.text--h4 {
  font-size: 1.6rem;
  font-weight: 500;
}

/*COLOR*/
.color-blue--primary {
  color: #0071f9 !important;
}
.color-blue--light {
  color: #eff6ff !important;
}
.color-red--medium {
  color: #f33f51 !important;
}
.color-red--light {
  color: #feecee !important;
}
.color-orange--medium {
  color: #f59e0b !important;
}
.color-orange--light {
  color: #fffbeb !important;
}
.color-green--medium {
  color: #00b135 !important;
}
.color-green--light {
  color: #e5ffed !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #333 !important;
}
.color-grey {
  color: #f4f4f4 !important;
}

.bg-color-blue--primary {
  background-color: #0071f9 !important;
}
.bg-color-blue--light {
  background-color: #eff6ff !important;
}
.bg-color-red--medium {
  background-color: #f33f51 !important;
}
.bg-color-red--light {
  background-color: #feecee !important;
}
.bg-color-orange--medium {
  background-color: #f59e0b !important;
}
.bg-color-orange--light {
  background-color: #fffbeb !important;
}
.bg-color-green--medium {
  background-color: #00b135 !important;
}
.bg-color-green--light {
  background-color: #e5ffed !important;
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-black {
  background-color: #333 !important;
}
.bg-color-grey {
  background-color: #f4f4f4 !important;
}

.rounder-2 {
	border-radius: 2px !important;
}

.rounder-4 {
	border-radius: 4px !important;
}

.rounder-8 {
	border-radius: 8px !important;
}

.rounder-12 {
	border-radius: 12px !important;
}

.rounder-16 {
	border-radius: 16px !important;
}


