@charset "UTF-8";
.danhsachbode .accordion {
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  border: none;
  outline: none;
  transition: 2s ease-in;
}
.danhsachbode .panel {
  display: none;
  background-color: white;
  overflow: hidden;
  transition: 0.5s ease-in;
  margin-top: 16px;
}
.danhsachbode .panel .list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.danhsachbode .panel .list .item-link {
  flex: 1;
  padding: 16px 8px 16px 20px;
}
.danhsachbode .panel .list .item-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
.danhsachbode .panel .list .item-icon .i {
  font-size: 1.4rem;
}